<div *ngIf="showProductCard()"
     class="card m-3"
     style="width: 16rem;">
  <div class="embed-responsive embed-responsive-4by3">
    <img *ngIf="product.imageUrl"
         alt="{{product.title}}"
         class="card-img-top embed-responsive-item"
         [src]="product.imageUrl" />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'USD':'symbol'}}</p>
  </div>
  <div *ngIf="showActions"
       class="card-footer p-0">
    <ng-container *ngIf="getProductQtyInCart() ===0; then productNotInCart; else productInCart">
    </ng-container>

    <ng-template #productNotInCart>
      <button (click)='updateProductQtyInCart(1)'
              class="btn btn-primary btn-block">
        Add to cart
      </button>
    </ng-template>

    <ng-template #productInCart>
      <update-product-qty [product]="product"></update-product-qty>
    </ng-template>
  </div>
</div>
