<h1 class="mb-4">Shopping cart</h1>

<div *ngIf="(cart$ | async) as cart" class="container-fluid">
  <div>
    <p>You have <strong>{{getTotalPdtQtyInCart()}} items </strong>in your cart.
    <button (click)="clearCart()"
            title="clear all items in cart"
            class="btn btn-danger btn-sm ">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    </p>
  </div>
  <table class="table text-center mt-4">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Qty</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (cart.items | itemQtyGtZero)">
        <td><img [src]="item.product.imageUrl"
             alt="item.product.title"
             class="rounded-circle"></td>
        <td>{{item.product.title}}</td>
        <td><update-product-qty [product]="item.product"></update-product-qty></td>
        <td>{{item.product.price | currency:'USD':'symbol'}}</td>
        <td>{{(item.product.price*item.quantity) | currency:'USD':'symbol'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{getCartTotalPrice()| currency:'USD':'symbol'}}</th>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="(cart.items| itemQtyGtZero).length" class="float-right mt-3">
    <a routerLink="/check-out"
            class="btn btn-primary">
     Check out
    </a>

</div>
</div>
