<div class="container">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Price in USD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{order.id}}</td>
        <td>{{order.createdDate}}</td>
        <td>{{order.status}}</td>
        <td>{{order.totalPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
