<form #productForm="ngForm"
      (submit)="save()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           name="title"
           [(ngModel)]=product.title
           #title="ngModel"
           required
           placeholder="Title">
    <div *ngIf="title.touched && title.invalid"
         class="alert alert-danger">
      Title is required
    </div>
  </div>
  <div class="form-group">
    <label for="category">Select a category</label>
    <select class="form-control"
            id="category"
            name="categoryId"
            [(ngModel)]=product.categoryId
            #category="ngModel"
            required>
      <option *ngFor="let category of (categories$ | async)"
              [value]="category['id']">{{category.name}}</option>
    </select>
    <div *ngIf="category.touched && category.invalid"
         class="alert alert-danger">
      Category is required
    </div>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number"
             min="0"
             class="form-control"
             id="price"
             name="price"
             [(ngModel)]=product.price
             #price="ngModel"
             required
             [gte]="0"
             placeholder="Price">
    </div>
    <div *ngIf="price.touched && (price.invalid)"
         class="alert alert-danger">
      <div *ngIf="price.errors && price.errors['required']">Price is required</div>
      <div *ngIf="price.errors && price.errors['gte']">Price must be a positive number</div>
    </div>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input type="text"
           class="form-control"
           id="imageUrl"
           name="imageUrl"
           [(ngModel)]=product.imageUrl
           #imageUrl="ngModel"
           required
           url
           placeholder="Image URL">
    <div *ngIf="imageUrl.touched && imageUrl.invalid"
         class="alert alert-danger">
      <div *ngIf="imageUrl.errors && imageUrl.errors['required']">Image URL is required</div>
      <div *ngIf="imageUrl.errors && imageUrl.errors['url']">Image URL is not a valid url</div>
    </div>
  </div>

  <button type="submit"
          [disabled]="productForm.invalid"
          class="btn btn-primary mr-2">
    Submit
  </button>
  <button type="button"
          (click)="delete()"
          class="btn btn-danger">
    Delete
  </button>
</form>
