<div class="sticky-top">
  <div class="list-group">
    <a [routerLink]="['/']"
       class="list-group-item list-group-item-action"
       [class.active]="! selectedCategoryId">
      All categories
    </a>
    <a *ngFor="let category of categories$ | async"
       [routerLink]="['/']"
       [queryParams]="{ category: category.id}"
       [class.active]="selectedCategoryId === category['id']"
       class="list-group-item list-group-item-action">
      {{category.name}}
    </a>
  </div>
</div>
