<form #shippingForm="ngForm"
      (submit)="proceedToCheckout()">

  <div class="form-group">
    <label for="title">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           [(ngModel)]="shippingDetails.name"
           #name="ngModel"
           required
           placeholder="Name">
    <div *ngIf="name.touched && name.invalid"
         class="alert alert-danger">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="title">Address</label>
    <input type="text"
           class="form-control"
           id="addressline1"
           name="addressline1"
           [(ngModel)] = "shippingDetails.addressline1"
           #addressline1="ngModel"
           required
           placeholder="line1">
    <div *ngIf="addressline1.touched && addressline1.invalid"
         class="alert alert-danger">
      adress is required
    </div>
    <input type="text"
           class="form-control mt-2"
           id="addressline2"
           name="addressline2"
           [(ngModel)] = "shippingDetails.addressline2"
           #addressline2="ngModel"
           placeholder="line2">
  </div>

  <div class="form-group">
    <label for="title">City</label>
    <input type="text"
           class="form-control"
           id="city"
           name="city"
           [(ngModel)]= "shippingDetails.city"
           #city="ngModel"
           required
           placeholder="city">
    <div *ngIf="city.touched && city.invalid"
         class="alert alert-danger">
      city is required
    </div>
  </div>

  <button type="submit"
          *ngIf="cart"
          [disabled]="shippingForm.invalid"
          class="btn btn-primary float-right">
    Place order
  </button>
</form>
