<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{modalContent.title}}</h4>
  <button type="button"
          class="close"
          aria-describedby="modal-title"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    {{ modalContent.body }}
  </p>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary float-left"
          (click)="dismiss()">
  Close
</button>
  <button type="button"
          *ngFor="let actionButton of modalContent.actionButtons"
          [ngClass]="actionButton.classes"
          (click)="btnClick(actionButton.click)">
    {{actionButton.name}}
  </button>
</div>
