<div class="card">
  <div class="card-body">
    <h4 class="card-title">Order summary</h4>
    <p class="card-text">
      You have <strong>{{getTotalPdtQtyInCart()}} items </strong>in your cart.
    </p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
          {{item.quantity}} x {{item.product.title}}
          <div class="float-right">
            {{(item.product.price*item.quantity) | currency:'USD':'symbol'}}
          </div>
      </li>
      <li class="list-group-item">
        <strong>
        Total
        <div class="float-right">
          {{getCartTotalPrice()| currency:'USD':'symbol'}}
        </div>
        </strong>
      </li>
    </ul>
  </div>
</div>
