<div class="container">
  <p>
    <a class="btn btn-primary"
       routerLink="./new">
      Create new product
    </a>
  </p>
  <table class="table mt-2">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Price in USD</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async">
        <td>
          <img [src]="product.imageUrl"
               alt="..."
               class="rounded-circle">
        </td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>
          <a [routerLink]="['./', product['id']]">
            Edit
          </a>
        </td>
        <td>
          <a (click)="delete(product['id'])"
              class="cursor-pointer text-danger">
              Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
