<div class="container"
     *ngIf="(user$ | async) as user">
  <h2>Shipping details</h2>
  <div *ngIf="(cart$ | async) as cart"
       class="row mt-5">
    <div class="col-xs-12 col-sm-6">
      <shipping-form [cart]="cart"
                     [userId]="user.uid"
                     (proceedToCheckoutCalled)="proceedToCheckout($event)"></shipping-form>
    </div>
    <div class="col-xs-12 col-sm-6">
      <shopping-cart-summary [cart]="cart"></shopping-cart-summary>
    </div>
  </div>
</div>
