<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3 mt-3">
      <product-filter [selectedCategoryId]="selectedCategoryId"></product-filter>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="d-flex flex-column flex-sm-row flex-sm-wrap">
        <ng-container *ngFor="let product of filteredProducts">
          <product-card [product]="product"[showActions]=true></product-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
