<div class="row no-gutters text-center align-self-center">
  <div class="col-2">
    <button (click)="updateProductQtyInCart(-1)"
            class="btn btn-primary btn-block">
      -
    </button>
  </div>
  <div class="col align-self-center">{{getProductQtyInCart()}} in cart</div>
  <div class="col-2">
    <button (click)="updateProductQtyInCart(1)"
            class="btn btn-primary btn-block">
      +
    </button>
  </div>
</div>
