<div class="container">
  <div class="row">
    <div class="col-sm">
      <product-form [product]='product'
                    [id]='id'>
      </product-form>
    </div>
    <div class="col-sm p-4">
      <product-card [product]='product'
                    [showActions]=false>
      </product-card>
    </div>
  </div>
</div>
