<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     routerLink="/">Organic Shop
  </a>
  <a class="nav-link"
     routerLink="/shopping-cart"
     class="shopping-cart mr-auto">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <span class="badge badge-pill badge-warning">{{getTotalPdtQtyInCart()}}</span>
  </a>
  <button class="navbar-toggler"
          type="button"
          aria-controls="navbarContent"
          [attr.aria-expanded]="!collapsed"
          aria-label="Toggle navigation"
          (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse cursor-pointer"
       [class.collapse]="collapsed"
       id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="authService.user$ | async as user ; then loggedInUser; else anonymousUser">
      </ng-container>

      <ng-template #anonymousUser>
        <li class="nav-item ">
          <a class="nav-link"
             routerLink="/login">Login</a>
        </li>
      </ng-template>

      <ng-template #loggedInUser>
        <li ngbDropdown
            *ngIf="authService.user$ | async as user "
            class="nav-item dropdown">
          <a ngbDropdownToggle
             class="nav-link dropdown-toggle"
             id="navbarDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            {{user.displayName}}
          </a>
          <div ngbDropdownMenu
               class="dropdown-menu dropdown-menu-right"
               aria-labelledby="navbarDropdown">
            <a ngbDropdownItem
               class="dropdown-item"
               routerLink="/my/orders">My orders</a>
            <ng-container *ngIf="authService.isAllowedAsAmin(user)">
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem
                 class="dropdown-item"
                 routerLink="/admin/orders">Manage orders</a>
              <a ngbDropdownItem
                 class="dropdown-item"
                 routerLink="/admin/products">Manage products</a>
            </ng-container>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem
               (click)="logout()"
               class="dropdown-item">Logout</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>

  <!-- <div class="collapse navbar-collapse"
         id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/shopping-cart"
             class="shopping-cart">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span class="badge badge-pill badge-warning">{{getTotalPdtQtyInCart()}}</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-container *ngIf="authService.user$ | async as user ; then loggedInUser; else anonymousUser">
        </ng-container>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/login">Login</a>
          </li>
        </ng-template>
        <ng-template #loggedInUser>
          <li ngbDropdown
              *ngIf="authService.user$ | async as user "
              class="nav-item dropdown">
            <a ngbDropdownToggle
               class="nav-link dropdown-toggle"
               id="dropdown01"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              {{ user.displayName }}
            </a>
            <div ngbDropdownMenu
                 class="dropdown-menu"
                 aria-labelledby="dropdown01">
              <a class="dropdown-item"
                 routerLink="/my/orders">My Orders</a>
              <ng-container *ngIf="authService.isAllowedAsAmin(user)">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                   routerLink="/admin/orders">Manage Orders</a>
                <a class="dropdown-item"
                   routerLink="/admin/products">Manage Products</a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"
                 (click)="logout()">Log Out</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div> -->
  <!-- <div class="cursor-pointer">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="authService.user$ | async as user ; then loggedInUser; else anonymousUser">
        </ng-container>

        <ng-template #anonymousUser>
          <li class="nav-item ">
            <a class="nav-link"
               routerLink="/login">Login</a>
          </li>
        </ng-template>

        <ng-template #loggedInUser>
          <li ngbDropdown
              *ngIf="authService.user$ | async as user "
              class="nav-item dropdown">
            <a ngbDropdownToggle
               class="nav-link dropdown-toggle"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              {{user.displayName}}
            </a>
            <div ngbDropdownMenu
                 class="dropdown-menu"
                 aria-labelledby="navbarDropdown">
              <a ngbDropdownItem
                 class="dropdown-item"
                 routerLink="/my/orders">My orders</a>
              <ng-container *ngIf="authService.isAllowedAsAmin(user)">
                <div class="dropdown-divider"></div>
                <a ngbDropdownItem
                   class="dropdown-item"
                   routerLink="/admin/orders">Manage orders</a>
                <a ngbDropdownItem
                   class="dropdown-item"
                   routerLink="/admin/products">Manage products</a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem
                 (click)="logout()"
                 class="dropdown-item">Logout</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div> -->

</nav>
